@font-face {
    font-family: Noto_Sans_JP;
     src: url("Noto_Sans_JP/NotoSansJP-Medium.otf");
     font-weight: 100;
   }
   body {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(203, 160, 231);
  }
  main {
    margin: 2%;
    width: 100%;
    box-sizing: content-box;
  }
  .nav-list {
    display: inline-block;
    position: relative;
    align-items: center;
    list-style: none;
  }
  .nav-link {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 25px;
    color: #d6b7b7;
   background-color: rgb(12, 102, 39);
   text-align: center;
  }
  .nav ul li {
  float: left;
  padding: 20px;
}
.header {
    color: indigo;
    text-align: center;
    font-size: 30px;
}
H3 {
    text-align: center;
    font-size: 33px;
    color: indigo;
}
.container {
    font-size: 25px;
    text-align: center;
    color: rgb(5, 66, 15);
  }
.cont {
    margin: 80px;
    font-size: 25px;
    text-align: center;
    background-color: white;
    text-decoration: none
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 1%;
  font-size: 100%;
  color: #d6b7b7;
  background-color: rgb(12, 102, 39);
}
A {
  color: rgb(5, 66, 15);
  text-decoration: none
}
.titr {
  color: rgb(5, 66, 15);
}
section {
  text-align: center;
  color: rgb(5, 66, 15);
  font-size: 25px;
}
.root {
  padding: 30px;
}